$grey_border_color: #d1d1d1;
$grey_bg_color: #f5f5f5;

*,
html,
body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

ul li {list-style-type: none}

button{
    border: 1px solid $grey_border_color;
    padding: 3px 10px;
}

input, textarea{
    border: 1px solid $grey_border_color;
    width: 100%;
}


#todo-items-placeholder{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.todo-item{
    display: inline-block;
    height: auto;
    width: 250px;
    margin: 20px;
    padding: 10px;
    background-color: $grey_bg_color;
    border: 1px solid $grey_border_color;
}

.todo-item div{
    padding: 10px;
}

.todo-item div:nth-child(3) input{
    width: auto;
    margin: 0 10px;
}

.todo-item div:nth-child(3) label{
   color: #777;
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: center;
// background-color: red;
}
